/* Global */

    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #f4f6f8;
        color: #333;
        line-height: 1.6;
    }

/* Headers */


    nav {
        display: flex;
        gap: 20px;
    }

    nav a {
        color: orangered;
        text-decoration: none;
        font-weight: bold;
    }

    nav a:hover {
        text-decoration: underline;
    }

    h2 {
        color: green;
    }

    h3 {
        color: olive;
    }

/* Tables */

    table {
        border-collapse: collapse;
        background: sandybrown;
    }

    th, td {
        border-bottom: 1px solid brown;
        border-right: 1px solid lightcoral;
        padding: 5px;
    }

    th {
        background-color: #34495e;
        color: midnightblue;
        text-align: center;
        border-right: 1px solid darkblue;
    }

    tr:hover {
        background-color: #f2f2f2;
    }

/* Forms */

    form {
        background: lightblue;
        padding: 2px;
        margin-top: 5px;
        border-radius: 8px;
        max-width: 700px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }

/* Form labels */

    label {
        font-weight: bold;
        display: block;
    }

/* Form Input Inputs */

    input,
    select {
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
    }

/* Input focus */

    input:focus,
    select:focus {
        border-color: #3498db;
        outline: none;
    }

/* Button */

    button {
        background-color: #3498db;
        color: darkblue;
        border: none;
        cursor: pointer;
        width: auto;
        padding: 10px 16px;
        display: inline-block;
    }

    button:hover {
        background-color: #2980b9;
    }

/* Divs */

    #tableofcontents{
        background-color:bisque;
        display:block;
        width: 40%;      
    }